/* setting the variables for colors to use in the website */
:root {
  --middle: #a6a6a6;
  --lightest: #f2f2f2;
  --seconddark: #262626;
  --secondlight: #a6a6a6;
  --darkest: #0d0d0d;
}

/* setting the general style of body and different titles */
body {
  color: var(--lightest);
  background-color: var(--darkest);
}

body::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(var(--y, 0) * 1px - 50px);
  left: calc(var(--x, 0) * 1px - 50px);
  opacity: 0;
  background: radial-gradient(white, #3984ff00 80%);
  transition: opacity 2ms;
}

body:hover::after {
  opacity: 0.4;
}

h1 {
  font-size: 2.5rem;
  margin: 2%;
  line-height: 1.5;
}

header h3,
footer h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 10px;
  display: none;
}

.container {
  max-width: 100vw;
}

/* add twinkling effects */
@keyframes move-twinkle-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.twinkling {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.twinkling {
  background: transparent url(../image/twinkling.png) repeat top center;
  z-index: 2;
  animation: move-twinkle-back 200s linear infinite;
}

/* set up profile pic and headlines */
#profilepic {
  /* background-image: url("../image/profilepic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--darkest);
  background-position: center; */
  background: #000 url(../image/stars.png) repeat top center;
  z-index: 1;
  height: 42rem;
  width: 100%;
}

#line1,
#line2 {
  text-align: center;
  color: var(--lightest);
  margin: 0;
  line-height: 1;
  text-shadow: 0.05rem 0.05rem 0.2rem var(--lightest);
  position: relative;
  z-index: 3;
}

/* #line1 span {
  color: red;
} */

#line1 {
  padding-top: 15rem;
  font-size: 1.7rem;
  opacity: 1;
  animation-name: line1animation;
  animation-duration: 6s;
  animation-delay: -2s;
}

@keyframes line1animation {
  from {
    opacity: 0;
    padding-top: 10rem;
  }
  to {
    opacity: 1;
    padding-top: 15rem;
  }
}

#line2 {
  padding: 2rem 0;
  font-size: 1.5rem;
  opacity: 1;
  animation-name: occur;
  animation-duration: 6s;
}

@keyframes occur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* design navbar */
header {
  color: var(--darkest);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--lightest);
  z-index: 4;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#navIcon {
  margin-left: 20rem;
}

#navIconX {
  margin-left: 20rem;
  display: none;
}

#navIcon:hover,
#navIconX:hover {
  background-color: var(--secondlight);
}

nav {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  height: 4rem;
}

nav a {
  font-size: 18px;
  text-decoration: underline;
  padding: 0 0.7rem;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  overflow: hidden;
}

nav a:hover {
  transition: all 0.5s ease-in-out;
  text-shadow: 0.6px 0.6px var(--seconddark);
}

/* the main section */
main {
  background: #000 url(../image/stars.png) repeat top center;
  z-index: 1;
  /* background-image: url("../image/profilepic2.gif");
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100%;
}

main section {
  z-index: 3;
  position: relative;
  margin-bottom: 40px;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

/* the about section */
#about div {
  text-align: center;
  align-items: center;
  margin: 10% auto;
  line-height: 2;
  font-size: 18px;
}

#about p {
  text-shadow: 0.2rem 0.2rem 0.3rem var(--darkest);
  text-indent: 2rem;
  text-align: justify;
  margin: 1.1rem;
  line-height: 1.5rem;
}

#myphoto {
  height: 200px;
  width: 200px;
  margin-bottom: 30px;
  border-radius: 2%;
}

/* the project section */
/* setting up the flex container */
/* #projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* #projects h1 {
  flex: 0 0 15%;
} */

#projects h1 {
  text-shadow: 0.2rem 0.2rem 0.5rem var(--darkest);
  margin-left: 7.5%;
}

#projectContainer {
  width: 100vw;
  margin-left: 8%;
}

/* setting up the class for each separate project */
.project-pic {
  /* display: flex;
    align-items: flex-end; */
  border: 1px solid var(--middle);
  background-size: 150%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 10px;
  border-radius: 1% 1% 0 0;
}

.projectItems {
  display: inline-block;
  width: 90%;
  height: 15.8rem;
  margin-top: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--middle);
  transition: all 1s;
}

.projectItems:hover {
  background-color: var(--middle);
  box-shadow: 0 0 2rem 0.5rem var(--middle);
}

.projectTitle {
  background-color: lightblue;
  opacity: 80%;
  padding: 3px 5px;
  color: black;
  border-radius: 0 0 1% 1%;
}

#ethics,
#zhanshu,
#cultivate,
#euie,
#huge {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}

#ethics {
  background-image: url("../image/ethics-cover.jpg");
  /* transition: all 1.5s ease-in-out; */
}

/* #ethics:hover {
  background-image: url("../image/ethics.jpg");
} */

#zhanshu {
  background-image: url("../image/zhanshu.png");
}

#cultivate {
  background-image: url("../image/cultivate-community.png");
}

#euie {
  background-image: url("../image/euie.jpg");
}

#huge {
  background-image: url("../image/huge.jpg");
}

/* the contact section, aka the footer*/
footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--lightest);
  z-index: 3;
  position: relative;
  color: var(--darkest);
}

address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

address a {
  font-style: normal;
  text-decoration: underline;
  font-size: 18px;
  padding: 0.5rem 0.7rem;
}

address a:hover {
  transition: all 0.5s ease-in-out;
  text-shadow: 0.6px 0.6px var(--darkest);
}

footer {
  text-align: center;
}

footer a {
  padding-bottom: 0.8rem;
}

/* mobile responsive */
@media screen and (min-width: 768px) {
  #line1 {
    padding-top: 16rem;
    font-size: 2.4rem;
  }

  #line2 {
    padding-top: 3.3%;
    font-size: 2.2rem;
  }

  .projectItems {
    width: 45%;
    margin-right: 0.6rem;
  }

  #projects h1 {
    font-size: 2.4rem;
  }

  nav {
    display: flex;
  }

  #navIcon,
  #navIconX {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #profilepic {
    height: 50rem;
    width: 100%;
  }

  #line1 {
    padding-top: 17rem;
    font-size: 3rem;
  }

  #line2 {
    padding-top: 3%;
    font-size: 2.5rem;
  }

  #my-name {
    display: block;
  }

  nav {
    height: 2rem;
  }

  nav a {
    margin-right: 10px;
  }

  #about p {
    text-indent: 0;
    text-align: center;
  }

  #projects h1 {
    font-size: 3rem;
  }

  .projectItems {
    width: 30%;
    margin-right: 0.9rem;
  }

  header h3,
  footer h3 {
    display: block;
  }

  header {
    justify-content: space-between;
  }

  footer {
    padding: 0;
    justify-content: space-between;
    height: 3.5rem;
  }
}
